<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partials/header") %>
</head>

<body>
    <div class="container-fluid">
        <div class="row flex-nowrap">
            <!--Sidebar-->
            <%- include("./partials/sidebar") %>
            <!--Konten-->
            <div class="col pb-5 konten my-container active-cont" style="background-color: #F1F3FF;">
                <!--NavBar-->
                <%- include("./partials/navbar") %>
            </div>
        </div>
    </div>
    <!--JS files and JS bootstrap-->
    <script src="javascript/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
    </script>
</body>

</html>